{% load static %}
<!--{% load cloudinary %}-->

<link rel="stylesheet" type="text/css" href="{% static 'psnvalue/style.css' %}" />

{% if game_list %}
    <table>
        <tr>
            <th>Game Cover</th>
            <th>Game Name</th>
            <th>Game Rating</th>
            <th>Game Price</th>
            <th>Game Value</th>
        </tr>
        {% for game in game_list %}
        <tr>
            <td><img src="{{ game.image_datastore_url }}" height="80" width="80"/></td>
            <td>{{ game.game_name }}</td>
            <td>{{ game.weighted_rating }}</td>
            <td>{{ game.plus_price }}</td>
            {% if True %}
            <td>{{ game.plus_value_score }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
